* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background-color: gray;
    height: 550px;
    width: 800px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: none;
    border-radius: 15px;
}
h1 {
    text-align: center;
}
#div1 {
    background-color: dodgerblue;
    height: 350px;
    width: 280px;
    padding-left: 10px;
    border: none;
    border-radius: 25px;
    box-shadow: 4px 4px 5px black;
}
.Uname {
    margin-top: 15px;
    height: 30px;
    width: 250px;
    padding: 10px;
    border: none;
    border-radius: 15px;
    margin-bottom: 10px;
}
.pass {
    height: 30px;
    width: 250px;
    margin-bottom: 4px;
    border-radius: 15px;
    padding: 10px;
    border: none;
}
.login {
    height: 35px;
    margin-bottom: 4px;
    margin-top: 10px;
    width: 250px;
    background-color: tomato;
    cursor: pointer;
    border: none;
    border-radius: 20px;
}
.anc {
    margin-top: 5px;
    text-decoration: none;
    color: crimson;
}
#facebook {
    height: 25px;
    width: 132px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
#google {
    height: 25px;
    width: 130px;
    background-color: tomato;
    color: white;
    border: none;
    border-radius: 15px;
    margin-right: 4px;
    cursor: pointer;
}
#btn {
    margin-top: 20px;
}
#div2 {
    background-color: dodgerblue;
    height: 350px;
    width: 280px;
    padding-left: 10px;
    border: none;
    border-radius: 25px;
    box-shadow: 4px 4px 5px black;
}
.uName {
    margin-top: 15px;
    height: 30px;
    width: 250px;
    padding: 10px;
    border: none;
    border-radius: 15px;
    margin-bottom: 10px;
}
.mail {
    height: 30px;
    width: 250px;
    margin-bottom: 4px;
    border-radius: 15px;
    padding: 10px;
    border: none;
}
.Pass {
    height: 30px;
    width: 250px;
    margin-top: 5px;
    margin-bottom: 4px;
    border-radius: 15px;
    padding: 10px;
    border: none;
}
.Cpass {
    height: 30px;
    width: 250px;
    margin-top: 5px;
    margin-bottom: 4px;
    border-radius: 15px;
    padding: 10px;
    border: none;
}
.register {
    width: 250px;
    height: 35px;
    margin-top: 25px;
    border: none;
    border-radius: 25px;
    background-color: mediumblue;
    color: white;
    cursor: pointer;
}
p {
    margin-top: 40px;
    font-size: 14px;
    text-align: center;
    color: black;
}
h2 {
    text-align: center;
}
hr {
    position: relative;
    width: 250px;
}
.or{
    position: absolute;
    margin-left: 125px;
    margin-top: -9px;
    border: none;
    border-radius: 50%;
    background-color: dodgerblue;
}
.P {
    text-align: center;
    display: inline;
    margin-left: 35px;
}
